@model IEnumerable<MergeRequestService.Models.MergeRequest>

@{
    ViewData["Title"] = "Merge Request List";
}

<h2>All ChangeSets</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SourceBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeSetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevChangeSetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviewer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SourceBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeSetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevChangeSetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviewer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
